body {
    margin: auto;
    background-color: #f9f9f9;
    width: 80vw;
    font-family: 'Trebuchet MS';
}

.header {
    text-align: center;
    margin: 10px
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #4e4e4e;
}

h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

img {
    width: 25vw;
    margin: 20px;
    min-width: 150px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 200;
}

table {
    width: 100%;
}


label {
    font-size: 15px;
    line-height: 30px;
    color: #4e4e4e;
}

input {
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid rgb(220, 220, 220);
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.select-container {
    display: flex;
    width: 115%;
}

.grid-item-zip {
    width: 60%;
}

select {
    border-radius: 5px;
    padding-inline: 10px;
    border: 2px solid rgb(220, 220, 220);
    width: 110%;
    height: 35px;
    margin-bottom: 10px;
    color: #7d7d7d;
    padding-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.select-container i {
    position: relative;
    height: 10px;
    left: -20px;
    top: 10px;
    color: #676767;
}

.date {
    background-color: rgb(240, 240, 240);
}

.username {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.usernameinput {
    display: flex;
    width: 103%;

}

.arroba {
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    border: 2px solid rgb(220, 220, 220);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 16px;
    margin-bottom: 10px;
    padding: 8px;
    color: #676767;

}

.username{
    margin-left: -2px;
    width: 110%;
}

.global-container {
    display: flex;
    width: 100%;
    gap: 40px;
}

.global-item {
    width: 70%;
}

.global-item2 {
    width: 30%;
}

.grid-container {
    display: flex;
    width: 100%;
    gap: 40px;
}
.grid-container3 {
    display: flex;
    width: 100%;
    gap: 40px;
}
.grid-item {
    width: 100%;
}

button {
    width: 70%;
    font-size: 20px;
    color: white;
    background-color: #1785de;
    border-radius: 5px;
    border: 0px;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .global-container {
        display: inline;
        width: 100%;
    }
    .global-item {
        width: 100%;
    }

    .global-item2 {
        width: 100%;
    }

    .grid-container{
        display: inline;
        width: 100%;

    }

    .grid-item-zip {
        width: 100%;
    }
    
    .select-container {
        width: 105%;
    }

    button {
        width: 100%;
    }
}



.checkbox {
    position: absolute;
    width: 12px;
    height: 22px;
}

.checkboxlabel {
    padding-left: 22px;
}

.roundcheck {
    position: absolute;
    width: 12px;
    height: 22px;
    border-radius: 50px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0;
}

.checkmark {
    position: absolute;
    margin: 0;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.cardtext {
    position: relative;
    margin: 0;
    top: -10px;
    font-size: 10px;
    color: #7d7d7d;
}



footer {
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

footer p {
    margin: 0;
    padding: 0;
    color: #7d7d7d;
}

a {
    position: relative;
    font-size: 14px;
    top: -15px;
    margin: 7px;
    color: #44abff;
}



h5 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

.cart {
    margin-top: 5px;
}
.cart .title {
    color: #676767;
}

.cart p {
    margin: 0;
    top: -10px;
    font-size: 11px;
    color: #7d7d7d;
}

.cart .price {
    font-size: 15px;
}

.cart .total {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.cart .code {
    color: green;
}

.cart .promo {
    background-color: #e7e7e7
}

.cart .grid-item-number {
    position: relative;
    text-align: end;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    background-color: #676767;
    border-radius: 45%;
    padding: 8px;
    height: 8px;
    width: 18px;
    border: 1px solid black;
    top: 15px;

}

.cart span {
    position: relative;
    color: white;
    font-size: 17px;
    font-weight: bold;
    top: -5px;
    left: -2px;
}

.grid-container2 {
    display: flex;
    gap: 40px;
    border: 2px solid rgb(220, 220, 220);
    background-color: white;
    padding-inline: 12px;
    padding-block: 8px;
    align-items: top;
    justify-content: space-between;
    margin-top: -1px;
}

.round-top {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.round-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.round {
    border-radius: 5px;
}

.container-promo {
    display: flex
}

.grid-promo {
    border: 2px solid rgb(220, 220, 220);
    background-color: white;
    width: 70%;
    padding-inline: 12px;
    padding-block: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.grid-promo h5 {
    color: rgb(162, 162, 162);
}

.redeem {
    border: 1px solid #676767;

    background-color: #676767;

    width: 30%;
    padding: 5px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -1px;
}

.redeem p {
    color: rgb(220, 220, 220);
    font-size: 14px;
}